.title-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: fit-content;
    padding: auto;
}

.header-3 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2%;
}

.list-container {
    display: flex;
    list-style: none;
    gap: 5.5rem;
    justify-content: center;
    text-align: center;
    font-size: 1.75rem;
    position: relative;
}

.edu-list {
    display: flex;
    flex-direction: column;
}

.edu {
    border-radius: 1rem;
    width: 400px;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur (10px);
    border: #00ffea 1px solid;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    color: rgb(124, 224, 224);
}

.image {
    border-radius: 1rem;
    height: 300px;
    width: 300px;
    padding-bottom: 10px;
}

.year-1 {
    padding-top: 25px;
    color: rgb(223, 231, 228);
}

.year-2 {
    padding-top: 25px;
    color: rgb(223, 231, 228);
}

.year-3 {
    color: rgb(223, 231, 228);
}

.ed-1 {
    font-size: 13px;
    color: rgb(167, 239, 199);
}

.ed-2 {
    font-size: 13px;
    color: rgb(167, 239, 199);
}

.ed-3 {
    font-size: 13px;
    color: rgb(167, 239, 199);
}
